.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1{
  text-align: center;
}

.signup-form{
  display:flex;
  flex-direction: column;

}
.signup-bt{
  padding:10px 20px;
  border-radius: 30px;
  margin-top: 40px;
  border:none;
  background-color: royalblue;
  color:white;
  font-weight: bold;
}

input{
  width:200px;
  height:30px;
  padding-left: 20px;
}

label{
  margin-top: 20px;
  margin-left: 0;
  text-align:start;
  position:relative;
}

#password{
  position:relative;
}

.required{
  position: absolute;
  font-size:5px;
  height:35px;
  margin-top:-1px;
  margin-left: 5px;
}
.star{
  color:red;
}